

#c2c6ce
#c0d0ef
#668dc0
#304a6e
#0f1c30



html {
    scroll-behavior: smooth;
}
 
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #c2c6ce; 
    /* background-color: rgb(58, 68, 83); */
    
}

header {

    background-color: rgb(0, 15, 36, 1); 
    display: flex;
    justify-content: space-around;
   align-items: center;
}

header p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;  
    display:flex;
}
.figure-logo{
    
    width: 5%;
    margin: 1%;
    
}
.logo {
    width: 100%;
    
}
.hamburger {
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: none;
}




nav ul{
    display: flex;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover {
    color: #2d78ce;
    text-decoration: underline;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
h1, h2{
    font-family: 'Montserrat', sans-serif;
}
h1, p {
    opacity: 0;
    animation: fadeInLeft 1s ease forwards;
}
p{
    font-family: 'Roboto', sans-serif;
}
.caja {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 940px;
    position: relative;
    margin: 0 auto; 
    height: 100%;
}
.img-logo{
    width: 30%;
}
.img-logo img{
    width: 30%;
    display:flex;
    border-radius: 20px;
    object-fit: cover;
}
.presentacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3rem;
    
    height: 100vh;
    /* background-color: #F5F5F5; Azul Claro */
     /* Blanco */
    background-color: #c2c6ce; 
    /* background: rgb(58, 68, 83); */
    /* background: linear-gradient(90deg, 
                rgba(0, 15, 36, 1) 0%, 
                rgba(70, 86, 159, 1) 50%, 
                rgba(0, 15, 36, 1) 100%); */

}
.titulo-presentacion{
    display: flex;
    margin: 5% 15%  ;
}   

.presentacion-texto{
    text-align: center;
    padding: 0;
    margin: 1% 25%;
    font-size: 1.3rem;
}


h2{
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0f4f0;
    margin: 0;
    padding-bottom: 2%;

}

.contac{
    background-color: rgb(0, 15, 36, 1); /* Azul Marino */
    color: #FFFFFF; /* Blanco */
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin-top: 8%;
}
.container-contac{
    max-width: 1000px;
    flex:1;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.social {
    margin: 0 auto;
}
.social-link{
    display: inline-flex;
    font-size: 40px;
    width: 50px;
    height:50px;
    margin: 0 10px;
    background-size: 50px 50px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;


}
.social img {
    width: 80%;
}

.form-email input{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-style: solid;
    border-radius: 5px;
    background-image: url('../imagenes/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button {
    display: block;
    border-color:gray;
    margin: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3{
    font-family:"Source Sans Pro", sans-serif;
}
.container{
    /*border: 1px solid red; */
    width:40%;
    display: inherit;
    justify-content: inherit;
    
    
    
}

.event{
    /* border: 1px solid red; f4fbff */
    margin:3%;
    width: 75%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background:#f0f4f0;
    /* transition: background-color 1s ease; */
    transition: transform 0.3s, box-shadow 0.3s;
}
.social-link:hover , .event:hover   {
    
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
    
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: rgb(224, 223, 223);
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.event-description{
    text-align: left;
}
.event-url{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
    display: block;
    margin-top: 2%;
}
.event-url:hover {
    background-color: gray;
    color: #FD2
}

.event-imageContainer{
    margin:0;
}
.event img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.event-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #304a6e;
    color: #0f1c30; 
    padding-bottom: 15%;
    
    
    /* queda en opacidad 0 para que cuando baje el scroll se active con el .show */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

.event-list.show {
    opacity: 1;
    transform: translateY(0);
}


.experiencia-titulo{
    text-align: center;
    background-color: #304a6e;
    color: white;
    padding: 5%;
}

.footer{
    background-color: #2C3E50; /* Azul Marino */
    color: #FFFFFF; /* Blanco */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img {
    vertical-align: middle;
}
.footer a{
    color: white;
}

.nav-menu.active li {
    display: flex;
}


@media screen and (max-width: 1023px) {
    
    
    .portfolio{
        padding: 0;
    }
    .container{
        padding: 0 1em;
    }
    .container-brasil{
        width: auto;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        object-position: center 25%;
    }
    .hero-img {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
    
}


@media screen and (max-width: 480px) {
    

    .hamburger {
        display: block;
        
    }
    .presentacion {
        
        margin: 10% 0;
    }
    .presentacion-texto {
        margin: 1% 10%;
        font-size: 1rem;
        /* height: 100vh; */
        display: flex;
        /* align-content: center; */
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .logo {
        display: flex;
        width: 2rem;
        
    }
    header {
        width: 100%;
        margin: 0 auto;
        height: 3rem;
        
        
    }
    .caja{
        display: inline;
        margin: 0 auto;
        width: 100%;
        
    }
    .nav-menu {
        display: flex;
        margin: 0 auto;
        
    }
    
    .nav-menu ul{
        padding: 0;
        margin: 0 auto;
    }
    .nav-menu li {
        display: none;
        margin: 0 0 0 15px ;
    }
    .nav-menu a {
        font-size:13px;
    }
    
    .titulo-presentacion{
        font-size: 1.6em;
        margin: 5% auto 0;
        padding: 0;
        text-align: center;
        /* color:rgb(255, 249, 241); */
    }
    .social img {
        width: 150%;
    }
    .social-link{
        
        width: 20px;
        height: 20px;
        padding: 1rem;
        margin-top: 1%;
    }
    h2{
        font-size: 20px;
        margin: 0;
    }
    .container{
        padding: 0;
        width: inherit;
    }
    .event{
        width: 80%;
    }
    .event-list{
        flex-direction: column;
        justify-content: center;
    }
    .event-detail{
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contac{
        height: auto;
        padding: 1.5em;
        text-align: center;
        display: block;
    }
    .container-contac {
        align-items: center;
    }
    .form-email button {
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}
